@page "/"

<PageTitle>Pentagon Dashboard</PageTitle>

<div class="dark-theme">
    <h1>Welcome to The Pentagon Dashboard!</h1>

    <p>
        The Pentagon is the headquarters building of the United States Department of Defense. Through this dashboard, access and manage critical data in a secure and efficient manner.
    </p>

</div>
